@{
    ViewBag.Title = "Overzicht";
}

<h2>Overzicht bestelling</h2>
<h3>Gegevens</h3>
<p>
    @ViewBag.Bedrijf<br />
    @ViewBag.Voornaam<br />
    @ViewBag.Achternaam<br />
    @ViewBag.Product<br />
</p>
<h3>Accessoires</h3>
<ul>
    @foreach (string acc in ViewBag.Accessoires)
    {
        <li>@acc</li>
    }
    
</ul>